<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Uno</title>
    <link rel="stylesheet" href="../stylesheets/style.css">
</head>
<body><br/><br/><br/><br/>
<h1>Commencez par vous choisir un login que vos amis vous reconnaisse ;)</h1>
<br/><br/><br/><br/><br/>
<form method="post" action="/login">
    <input type="text" name="login" placeholder="Choissisez un login">
    <button type="submit">Go</button>
    <button id="neutre_4" class="card"></button>
    <button id="red2" class="card"></button>
    <button id="red3" class="card"></button>
    <button id="red4" class="card"></button>
    <button id="red5" class="card"></button>
    <button id="yellow_2" class="card"></button>
</form>
</body>
</html>